<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-page :: main-header(titlePage=${title})">

</head>
<body class="fix-header">
<div class="id-wrapper">
    <nav th:replace="fragments/main-page :: main-navbar"></nav>
    <div th:replace="fragments/main-page :: main-sidebar"></div>
    <div id="page-wrapper">
        <!--<div th:replace="fragment/main0page :: main-nvabar"></div>
        <div th:replace="fragment/main0page :: main-sidebar"></div>-->

        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" th:text="${titleBar}"></h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title mb-2">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">

                        <!-- Card Title -->
                        <h3 class="box-title" th:text="${titleContent}"></h3>
                        <br>
                        <!-- Card Content -->
                        <form id="form-employee" class="form-horizontal form-material">
                            <div class="form-group">
                                <label for="name" class="col-md-12">Product Name</label>
                                <div class="col-md-12">
                                    <input type="text" id="name" name="name" placeholder="Name"
                                           class="form-control form-control-line" th:value="${dataProduct.getName()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="qty" class="col-md-12">Qty</label>
                                <div class="col-md-12">
                                    <input type="hidden" id="idProduct" th:value="${dataProduct.getId()}"/>
                                    <input type="text" id="qty" name="qty" placeholder=""
                                           class="form-control form-control-line" th:value="${dataProduct.getQty()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="price" class="col-md-12">Price</label>
                                <div class="col-md-12">
                                    <input type="text" id="price" name="price" placeholder=""
                                           class="form-control form-control-line" th:value="${dataProduct.getPrice()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sku" class="col-md-12">SKU</label>
                                <div class="col-md-12">
                                    <input type="text" id="sku" name="sku" placeholder=""
                                           class="form-control form-control-line" th:value="${dataProduct.getSku()}"/>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <a th:href="@{'/product/list'}" type="button" class="btn btn-warning">Back</a>
                                    <button id="btn-save" type="button" class="btn btn-success">Save</button>
                                </div>
                            </div>

                        </form>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <footer th:replace="fragments/main-page :: main-footer"></footer>
    </div>

</div>


<div th:replace="fragments/main-page :: jsmodules">
</div>
<script src="/jsmodules/employee/form-product.js"></script>



</body>
</html>