<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-page :: main-header(titlePage=${title})">

</head>
<body class="fix-header">
    <div class="id-wrapper">
        <nav th:replace="fragments/main-page :: main-navbar"></nav>
        <div th:replace="fragments/main-page :: main-sidebar"></div>
        <div id="page-wrapper" >
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" th:text="${titleBar}"></h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title mb-2">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">
                        <!-- Button Add New Product-->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a class="btn btn-primary" href="/product/form-product">Add New</a>
                        </div>
                        <!-- Card Title -->
                        <h3 class="box-title" th:text="${titleContent}"></h3>

<!--                        ####################-->
<!--                        Write Content Here-->
<!--                        ####################-->

                        <div class="table-responsive">
                            <table class="table" id="tableProduct">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>SKU</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
<!--                                <tbody>-->
<!--                                    <tr th:each="product : ${dataProduct}">-->
<!--                                        <td th:text="${product.getId}"></td>-->
<!--                                        <td th:text="${product.getName}"></td>-->
<!--                                        <td th:text="${product.getQty}"></td>-->
<!--                                        <td th:text="${product.getPrice}"></td>-->
<!--                                        <td th:text="${product.getSku}"></td>-->
<!--                                        <td>-->
<!--                                            <div class="col-sm-12">-->
<!--                                                <a th:href="@{'/product/edit-product?idProduct='+${product.getId()}}"><button class="btn btn-info">Edit</button></a>-->
<!--                                                <a href="javascript:void(0)" type="button" th:attr="data-id_delete=${product.getId()}" id="btn-delete" class="btn btn-danger">Delete</a>-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                </tbody>-->
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <footer th:replace="fragments/main-page :: main-footer"></footer>
        </div>

    </div>

    <div th:replace="fragments/main-page :: jsmodules"></div>


    <script type="text/javascript" th:inline="javascript">
        let dataProductList = [[${dataProduct}]];
        console.log(dataProductList);
        let dataProductParse = JSON.parse(dataProductList);

    </script>
    <script src="/jsmodules/product/list-datatable.js"></script>

</body>
</html>