<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-page :: main-header(titlePage=${title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="fix-header">
    <div class="id-wrapper">
        <nav th:replace="fragments/main-page :: main-navbar"></nav>
        <div th:replace="fragments/main-page :: main-sidebar"></div>
        <div id="page-wrapper">

            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" th:text="${titleBar}"></h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title mb-2">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">

                        <!-- Button Add New Employee-->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a class="btn btn-primary" href="/employee/form-employee">Add New</a>
                        </div>

                        <!-- Card Title -->
                        <h3 class="box-title" th:text="${titleContent}"></h3>

<!--                        ####################-->
<!--                        Write Content Here-->
<!--                        ####################-->
                    </div>
                </div>
            </div>

            <footer th:replace="fragments/main-page :: main-footer"></footer>
        </div>


    </div>

    <div th:replace="fragments/main-page :: jsmodules"></div>

</body>
</html>