<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main-page :: main-header(titlePage=${title})">

</head>
<body class="fix-header">
<div class="id-wrapper">
    <nav th:replace="fragments/main-page :: main-navbar"></nav>
    <div th:replace="fragments/main-page :: main-sidebar"></div>
    <div id="page-wrapper">
        <!--<div th:replace="fragment/main0page :: main-nvabar"></div>
        <div th:replace="fragment/main0page :: main-sidebar"></div>-->

        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" th:text="${titleBar}"></h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title mb-2">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">

                        <!-- Card Title -->
                        <h3 class="box-title" th:text="${titleContent}"></h3>
                        <br>
                        <!-- Card Content -->
                        <form id="form-employee" class="form-horizontal form-material">
                            <div class="form-group">
                                <label for="name" class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input type="text" id="name" name="name" placeholder="Name"
                                           class="form-control form-control-line" th:value="${dataEmployee.getName()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="hidden" id="idEmployee" th:value="${dataEmployee.getId()}"/>
                                    <input type="email" id="email" name="email" placeholder="example@email.com"
                                           class="form-control form-control-line" th:value="${dataEmployee.getEmail()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-md-12">Phone Number</label>
                                <div class="col-md-12">
                                    <input type="tel" id="phone" name="phone" placeholder="08xxx"
                                           class="form-control form-control-line" th:value="${dataEmployee.getPhone()}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address" class="col-md-12">Phone Number</label>
                                <div class="col-md-12">
                                    <input type="text" id="address" name="address" placeholder=""
                                           class="form-control form-control-line" th:value="${dataEmployee.getAddress()}"/>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-12">
                                    <a th:href="@{'/employee/list'}" type="button" class="btn btn-warning">Back</a>
                                    <button id="btn-save" type="button" class="btn btn-success">Save</button>
                                </div>
                            </div>

                        </form>
                    <!-- /.col-lg-12 -->
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            </div>
            <footer th:replace="fragments/main-page :: main-footer"></footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
</div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

<div th:replace="fragments/main-page :: jsmodules">
</div>
<script src="/jsmodules/employee/form-employee.js"></script>

</body>

</html>