<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-page :: main-header(Employee)">
</head>

<body class="fix-header">

<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav th:replace="fragments/main-page :: main-navbar"></nav>
    <div th:replace="fragments/main-page :: main-sidebar"></div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        <!--<div th:replace="fragment/main0page :: main-nvabar"></div>
        <div th:replace="fragment/main0page :: main-sidebar"></div>-->

        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Employee</h4> </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">
                        <!-- Button Add New Employee-->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a class="btn btn-primary" href="/employee/form-employee">Add New</a>
                        </div>

                        <!-- Card Title -->
                        <h3 class="box-title">List Employee</h3>

                        <!-- Card Content -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="employee : ${dataEmployee}">
                                        <td th:text="${employee.getId()}"></td>
                                        <td th:text="${employee.getName()}"></td>
                                        <td th:text="${employee.getAddress()}"></td>
                                        <td th:text="${employee.getPhone()}"></td>
                                        <td style="width:20%">
                                            <div class="col-sm-12">
                                                <a th:href="@{'/employee/edit-employee?idEmployee='+${employee.getId()}}"><button class="btn btn-info">Edit</button></a>
                                                <a href="javascript:void(0)" type="button" th:attr="data-id_delete=${employee.getId()}" id="btn-delete" class="btn btn-danger">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"></footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<div th:replace="fragments/main-page :: jsmodules"></div>
<script src="/jsmodules/employee/form-list.js"></script>
</body>

</html>