<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-page :: main-header(titlePage=${title})">


</head>

<body class="fix-header">

<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav th:replace="fragments/main-page :: main-navbar"></nav>
    <div th:replace="fragments/main-page :: main-sidebar"></div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        <!--<div th:replace="fragment/main0page :: main-nvabar"></div>
        <div th:replace="fragment/main0page :: main-sidebar"></div>-->

        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Payment</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row bg-title">
                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <!--Card Table Employee-->
                    <div class="white-box">
                        <!-- Button Add New Employee-->
                        <div class="col-md-1 col-sm-4 col-xs-6 pull-right">
                            <a class="btn btn-primary" href="/payment/form-payment">Add New</a>
                        </div>

                        <!-- Card Title -->
                        <h3 class="box-title">Payment List</h3>


                        <!-- Card Content -->
                        <table class="table" id="tablePayment">
                            <thead>
                            <tr>
<!--                                <th>Id</th>-->
                                <th>InvoiceNumber</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Payer</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
<!--                            <tr th:each="payment : ${dataPayment}">-->
<!--                                <td th:text="${payment.getId()}"></td>-->
<!--                                <td th:text="${payment.getInvoiceNumber()}"></td>-->
<!--                                <td th:text="${payment.getAmount()}"></td>-->
<!--                                <td th:text="${payment.getStatus()}"></td>-->
<!--                                <td th:text="${payment.getPayer()}"></td>-->
<!--                                <td style="width:20%">-->
<!--                                    <div class="col-sm-12">-->
<!--                                        <button class="btn btn-info">Edit</button>-->
<!--                                        <button class="btn btn-danger">Delete</button>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
                            </tbody>

                        </table>

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer th:replace="fragments/main-page :: main-footer"></footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

</div>

<div th:replace="fragments/main-page :: jsmodules"></div>
<!--<script src="/jsmodules/payment/form-list.js"></script>-->


<script type="text/javascript" th:inline="javascript">
        let dataPaymentList = [[${dataPayment}]];
        console.log(dataPaymentList);
        let dataPaymentParse = JSON.parse(dataPaymentList);

    </script>
<script src="/jsmodules/payment/list-datatable.js"></script>


</body>

</html>